.body{
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    overflow-x: hidden;
}

.content{
    min-width: 300px;
    max-width: 400px;
    max-height: 100%;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column wrap;
    margin-bottom: 80px;
    word-wrap: break-word;
}

.data{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
    padding: 10px;
    padding-right: 15px;
}

.containerCard{
    min-width: 200px;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
}

.containerButtons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media only screen and (max-width: 800px){
    .containerButtons{
        margin-top: 50px;
    }
    .body{
        justify-content: center;
        transform: translateX(-13px);
    }
}