.father{
    background: linear-gradient(8deg, rgba(29,29,34,1) 0%, rgba(52,52,56,1) 29%, rgba(34,33,40,1) 74%);
    grid-column: 2 / 4;
    grid-row: 1;
    justify-self: center;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    /* outline: 1px solid #aaa; */
}

.header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    /* outline: 1px solid blueviolet; */
}

.carrousel{
    width: 80%;
    padding: 20px;
    height: 100%;
    overflow: visible;
    min-width: 400px;
}

.item{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.rec-slider-container{
    overflow: visible;
}

.biYdFZ{
    overflow: visible;
}