.container{
    width: 80%;
    height: 25px;
    padding: 5px 8px;
    background: rgb(103, 106, 126);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row nowrap;
    cursor: pointer;
    transition: all 0.5s;
}

.container_type_coin{
    width: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container:hover{
    transform: scale(1.1);
}