@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body.chakra-ui-light{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: rgb(29,29,34);
}

.father-app{
    width: 100%;
    height: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: minmax(200px,300px) minmax(min-content,1000px) minmax(400px,550px);
    grid-template-rows: 100%;
    grid-auto-rows: auto;
    min-height: 100vh;
    background: linear-gradient(8deg, rgba(29,29,34,1) 0%, rgba(52,52,56,1) 29%, rgba(34,33,40,1) 74%);
    align-items: center;
}

/* Estilos de scrroll bar de father */
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 15px;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #3c3c45;
    border-radius: 20px;
}
/* Unique scrollBar styles for contacts and transactions components */
#contacts::-webkit-scrollbar-thumb {
    background-color: #26262f;
}
#transactions::-webkit-scrollbar-thumb{
    background-color: #26262f;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;  
}

footer{
    padding: 20px; 
    color: #fff; 
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    color: #fff; 
    text-decoration: none;
}

/* Charkra UI style anulations */
*{
    border-style: none;
    box-sizing: unset !important;
}
h2{
    font-size: 1.5em;
}

html{
    width: 100vw;
    height: 100vh;
}

/* Responsive Design */
@media only screen and (max-width: 600px){
	.father-app{
        grid-template-columns: 90px 320px;
        grid-template-rows: 100% auto;
    }
    #root{
        min-height: fit-content;
    }
}